* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
}

.app_container{

  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10px auto;
  
}

h1{
  color: white;
}
.listgif{
  width: 900px;
  display: flex;
  flex-direction: row;
}

.gif_item{
     /* flex: 0 1 300px; */
    /* no stretch */
    flex: 1 1 300px;
    /* stretch */
    margin: 5px;
}

div.gif_item {
  /* flex: 0 1 300px; */
  /* no stretch */
  flex: 1 1 300px;
  /* stretch */
  margin: 5px;
}

img{
  width: 100%;
  object-fit: cover;
  

}
.gif-wrap {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center; */
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}
